.navigationBar {
    text-align: center;
}

.navigationBar hr {
    height: 10px;
    background-color: cornflowerblue;
}

button {
    padding: 10px;
    margin: 20px;
    cursor: pointer;
}

.postTitle {
    background-color: darkorange;
    width: fit-content;
    margin: 10px auto;
    padding: 10px 40px;
    border-radius: 8px;
    cursor: pointer;
}

.postDetails {
    text-align: center;
}