.contaner {
    width: fit-content;
    margin: auto;
    text-align: center;
}

li {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.deleteButton,
.addButton,
.editButton  {
    margin: 5px;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px ;
    text-align: end;
}

.deleteButton {
    background-color: red;
}

.addButton {
    background-color: rgb(52, 52, 252);
}

.editButton {
    background-color: rgb(98, 190, 190);
}